*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@font-face{
    font-family: "SN Pro";
    src: url("./fonts/SNPro-VariableFont_wght.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

