*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

@font-face{
    font-family: "SN Pro";
    src: url("./fonts/SNPro-VariableFont_wght.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

:root{
    --primary-color: rgb(248, 206, 117);
    --secondary-color: rgb(0, 0, 0);
    --hover-color: rgb(246, 184, 51);
}

body{
    display: grid;
    grid-template-rows: 0.3fr 4fr;
    grid-auto-flow: row;
    height: 100vh;
}

#content{
    transition: 0.3s ease;
    background: var(--primary-color);
}

/*HEADER SECTION*/
header{
    flex: 0.3;
    display: grid;
    grid-template-columns: 0.3fr 3fr;
    grid-auto-flow: columns;
    gap: 50px;
    background-color: var(--secondary-color);
    padding: 5px;
}

.company-name{
    font-family: "SN Pro";
    color: var(--primary-color);
}

.company-name:hover{
    cursor: pointer;
}

header>nav{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.nav-buttons{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 10px;
    background-color: var(--primary-color);
    color: black;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.nav-buttons:hover{
    cursor: pointer;
    transform: scale(1.06);
    background-color: var(--hover-color);
}


/*HOME PAGE*/
.intro-container{
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 50vw;
    flex: 1;

    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.intro-header{
    font-family: "SN Pro";
    font-weight: bold;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.intro-body{
    font-family: "Roboto";
    font-size: clamp(1rem, 1.3vw, 1.2rem);
}


.background-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(1.3px) brightness(0.5);
    transform: scale(1.05);
}

