*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
}

@font-face{
    font-family: "SN Pro";
    src: url("./fonts/SNPro-VariableFont_wght.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

:root{
    --primary-color: rgb(248, 206, 117);
    --secondary-color: rgb(0, 0, 0);
    --menu-color: #fff8e6;
    --hover-color: rgb(246, 184, 51);
    --font-size-large: clamp(1.2rem, 2vw, 1.5rem);
    --font-size-normal: clamp(1rem, 1.3vw, 1.2rem);
}

body{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-flow: row;
    height: 100vh;
}

#content{
    transition: 0.3s ease;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*HEADER SECTION*/
header{
    flex: 0.3;
    display: grid;
    grid-template-columns: 0.3fr 3fr;
    grid-auto-flow: columns;
    gap: 50px;
    background-color: var(--secondary-color);
    padding: 0 12px;
    height: 4rem;
    min-height: 4rem;
    align-items: center;
}

.company-name{
    font-family: "SN Pro";
    color: var(--primary-color);
    font-size: var(--font-size-large);
}

.company-name:hover{
    cursor: pointer;
}

header>nav{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.nav-buttons{
    font-family: "Roboto";
    font-weight: bold;
    font-size: clamp(0.8rem, 1.2rem, 1.5rem);
    background-color: var(--primary-color);
    color: black;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    height: clamp(1.5rem, 1.5rem, 2.5rem);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.nav-buttons:hover{
    cursor: pointer;
    transform: scale(1.06);
    background-color: var(--hover-color);
}


/*HOME PAGE*/
.intro-container{
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 50vw;
    flex: 1;

    margin: auto;
}


.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.intro-header{
    font-family: "SN Pro";
    font-weight: bold;
    font-size: var(--font-size-large);
}

.intro-body{
    font-family: "Roboto";
    font-size: var(--font-size-normal);
}

.background-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(1.3px) brightness(0.5);
    transform: scale(1.05);
}


/*MENU PAGE*/
.menu-container{
    position: relative;
    overflow: hidden;
    width: 50vw;

    margin: 8% auto;

    display: grid;
    grid-template-rows: 0.3fr 4fr;
    grid-auto-flow: rows;
    gap: 15px;
    /* padding: 15px; */
    border: 3px solid black;

    background-color: var(--menu-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    transition: 0.5s transform;
}

.menu-container:hover{
    transform: scale(1.01);
}

.menu-legend{
    border-bottom: 2px solid black;
    padding: 15px;
}

.menu-legend-text{
    text-align: center;
    font-size: var(--font-size-large);
    transition: 0.2s transform;
}

.menu-legend-text:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.menu-items-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-category{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 15px;
}

.menu-category:last-child{
    border-bottom: 0;
}

.menu-category-header{
    margin-bottom: 15px;
    font-size: var(--font-size-large);
}

.menu-category-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-flow: row;
    gap: 80px;
    row-gap: 30px;
}

.menu-item-image{
    width: 110px;
    height: 100px;
}

.menu-item-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-normal);
    gap: 5px;
    transition: 0.2s transform;
}

.menu-item-card:hover{
    cursor: pointer;
    transform: scale(1.03);
}



/*ABOUT PAGE*/
.about-container{
    position: relative;
    overflow: hidden;
    width: 50vw;

    margin: 8% auto;

    display: grid;
    grid-template-rows: 0.3fr 4fr;
    grid-auto-flow: rows;
    /* padding: 15px; */
    border: 3px solid black;

    background-color: var(--menu-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    transition: 0.5s transform;
}

.about-container:hover{
    transform: scale(1.02);
}

.about-legend-section{
    padding: 15px;
}

.about-legend{
    text-align: center;
    font-family: "Roboto";
    font-size: var(--font-size-large);
}

.about-content-section{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-section-header>*{
    text-align: center;
    font-size: var(--font-size-large);
}

.about-section-content{
    text-align: center;
    font-family: "SN Pro";
}

.timing-section>*{
    padding: 2px;
}

.welcome-section-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-section-header>*{
    text-align: left;
}

.welcome-section>*{
    text-align: left;
    padding: 3px;
}